{% block title %}All Courier{% endblock %}
{% block head %}All Courier{% endblock %}
{% block content %}

        
	<table>
        <thead>
            <tr>
                <th>Train PNR</th>
                <th>Train number</th>
                <th>Date of travel</th>
                <th>Price</th>
                <th>Train number </th>
                <th>Delivery From</th>
                <th>Destination(meters)</th>

                
            </tr>
        </thead>
	<tbody>	  
			
				
			{% for ticket in boldmessage %}
				<tr>
				 	<td>         {{ticket.PNR}} </td>
					<td>		 {{ticket.train_no}} </td>
					<td> 		 {{ticket.date}} </td>
					<td>		 {{ticket.price}} </td>
					<td>		 {{ticket.train_name}} </td>
					<td>		 {{ticket.location_from}} </td>
					<td>		 {{ticket.location_to}} </td>
					<td> 		 <button type="button" onclick="window.location.href='/home/' ">Buy Ticket</button>						</td>
				</tr>
				
			{% endfor %}
	</tbody>
	</table>
    
    
    
 <br/>
<br/>

        
    
    <button type="button" onclick="window.location.href='/home/' ">Back</button>
{% endblock %}
